feedparser==6.0.11
python-dotenv==1.0.1
newspaper3k==0.2.8
jinja2==3.1.4
tqdm==4.66.4
# 선택: 로컬 LLM
transformers==4.41.1
torch==2.3.0
pyyaml==6.0.1

requests>=2.0
beautifulsoup4>=4.0

googletrans==4.0.0-rc1   # build_casual_script --lang 옵션에 필요